---

import Icon from 'astro-icon';

const guest = {
  name: 'Marcelo Quinta',
  bio: 'Marcelo Quinta é engenheiro de software a 15+ anos, professor licenciado da Universidade Federal de Goiás e atualmente tech lead em um dos apps com maior número de usuários no mundo, além de Google Developer Expert em Android.',
  website: '',
  twitter: 'mrquinta',
  linkedin: 'marcelo-quinta-6444bb22',
  date: 'quinta-feira, 3 de Fevereiro às 18:00',
  liveURL: '',
  formURL: 'https://forms.gle/9au4BK7FMBZ2fKk57',
};
---

<style>
section {
  font-size: var(--f-u1);
}

.guest {
  display: grid;
  grid-template-columns: 200px auto;
  column-gap: 20px;
  background: var(--c-green);
  padding: 20px;
}
.guest-name {
  font-size: var(--f-u2);
  margin-right: 10px;
}
.icon {
  width: 1.5rem;
  vertical-align: bottom;
  color: var(--c-blue);
}
a {
  color: var(--c-purple);
}
</style>

<section>
  <h2 class="section-title">Carreira @ Comunida.dev</h2>
  <p>Uma série de lives semanais no <a href="https://www.youtube.com/channel/UC706xZkWHE38HnuhcqCsb5g" target="_blank" rel="noopener">nosso canal do  YouTube</a>, cada semana um convidado diferente, cada temporada um tema diferente relacionado a carreira dev. O tema da nossa primeira temporada é <b>Big Tech</b>. Conheça o nosso primeiro convidado:</p>
  <div class="guest">
    <picture>
      <source srcset="
        /assets/guest/200.webp 1x,
        /assets/guest/400.webp 2x" type="image/webp">
      <source srcset="
        /assets/guest/200.jpg 1x,
        /assets/guest/400.jpg 2x" type="image/jpeg">
      <img src="/assets/guest/200.jpg" class="bio-photo" alt={`Foto do perfil de ${guest.name}`} width=200 height=200>
    </picture>
    <div>
      <p>
        <b class="guest-name">{guest.name}</b>
        {guest.website &&
          <a href={guest.website} aria-label={`Site do ${guest.name}`} target="_blank" rel="noopener">
            <Icon name='mdi:globe' class="icon" />
          </a>
        }
        <a href={`https://twitter.com/${guest.twitter}`} aria-label={`${guest.name} no Twitter`} target="_blank" rel="noopener">
          <Icon name='mdi:twitter' class="icon" />
        </a>
        <a href={`https://www.linkedin.com/in/${guest.linkedin}/`} aria-label={`${guest.name} no LinkedIn`} target="_blank" rel="noopener">
          <Icon name='mdi:linkedin' class="icon" />
        </a>
      </p>
      <p class="guest-bio">{guest.bio}</p>
      <p>
        Estaremos ao vivo <b>{guest.date}</b>.
        {guest.liveURL && <a href={guest.liveURL}>Ative o lembrete aqui!</a>}
      </p>
      <p>
        Tem uma pergunta pro Macelo? <a href={guest.formURL} target="_blank" rel="noopener">Envie suas perguntas aqui</a> ou ao vivo.
      </p>
    </div>
  </div>
</section>
