---

import Icon from 'astro-icon';
const guest = {
  name: 'Samanta Cicilia de Barros Souza',
  bio: 'Hoje atuo como Head of Engineering na Pagar.me, tenho 10 anos de experiência na área, 5 deles como líder de times. Sou co-fundadora do Agile Testers (https://agiletesters.com.br/), apaixonada por comunidades e compartilhar conhecimento.',
  website: 'https://samantacicilia.com/',
  twitter: '',
  linkedin: 'https://www.linkedin.com/in/samantacici/',
  date: 'quinta-feira, 17 de Março às 18:00',
  liveURL: 'https://www.youtube.com/watch?v=PuXwygUOVqg',
  formURL: 'https://forms.gle/iHEUZjUwRu5h9cZv8',
};
---

<style>
section {
  font-size: var(--f-u1);
}

.guest {
  display: grid;
  grid-template-columns: 200px auto;
  column-gap: 20px;
  background: var(--c-green);
  padding: 20px;
}
.guest-name {
  font-size: var(--f-u2);
  margin-right: 10px;
}
.icon {
  width: 1.5rem;
  vertical-align: bottom;
  color: var(--c-blue);
}
a {
  color: var(--c-purple);
}
a:hover {
  color: var(--c-pink);
}

.refer-title {
  font-size: var(--f-u2);
  margin-bottom: 10px;
}

.refer-text {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .guest {
    grid-template-columns: 1fr;
  }

  .guest-name {
    display: block;
  }
}
</style>

<section id="carreira">
  <h2 class="section-title">Carreira @ Comunida.dev</h2>
  <p>Uma série de lives no <a href="https://www.youtube.com/channel/UC706xZkWHE38HnuhcqCsb5g" target="_blank" rel="noopener">nosso canal do  YouTube</a> com entrevistas semanais discutindo diversos tópicos relacionados a carreira dev. Conheça a nossa próxima convidada:</p>
  <div class="guest">
    <picture>
      <source srcset="
        /assets/guest/200.webp 1x,
        /assets/guest/400.webp 2x" type="image/webp">

      <source srcset="
        /assets/guest/200.jpg 1x,
        /assets/guest/400.jpg 2x" type="image/jpeg">
      <img src="/assets/guest/200.jpg" class="bio-photo" alt={`Foto do perfil de ${guest.name}`} width=200 height=200>
    </picture>
    <div>
      <p>
        <b class="guest-name">{guest.name}</b>
        {guest.website &&
          <a href={guest.website} aria-label={`Site do ${guest.name}`} target="_blank" rel="noopener">
            <Icon name='mdi:globe' class="icon" />
          </a>
        }
        { guest.twitter && 
          <a href={`https://twitter.com/${guest.twitter}`} aria-label={`${guest.name} no Twitter`} target="_blank" rel="noopener">
            <Icon name='mdi:twitter' class="icon" />
          </a>
        }
        { guest.linkedin && 
          <a href={`https://www.linkedin.com/in/${guest.linkedin}/`} aria-label={`${guest.name} no LinkedIn`} target="_blank" rel="noopener">
            <Icon name='mdi:linkedin' class="icon" />
          </a>
        }
      </p>
      <p class="guest-bio">{guest.bio}</p>
      <p>
        Estaremos ao vivo <b>{guest.date}</b>.
        {guest.liveURL && <a href={guest.liveURL}>Ative o lembrete aqui!</a>}
      </p>
      <p>
        Quer enviar uma pergunta? <a href={guest.formURL} target="_blank" rel="noopener">Envie pelo nosso formulário antes da live</a> ou ao vivo.
      </p>
    </div>
  </div>
  <div class="refer">
    <h3 class="refer-title">Indique alguém pra participar do Carreira @ Comunida.dev!</h3>
    <p class="refer-text">Quer participar ou conhece alguém que você gostaria de ver nas lives do Carreira @ Comunida.dev?</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_vjTGKU9ZXSqKFGXyDeCzswLe0xT8cCZL_7Su9Wa23KPYRA/viewform" target="_blank" rel="noopener">Conte pra gente aqui!</a>
  </div>
</section>
